body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

li{
  padding-bottom: 5%;
}

#title {
  background-color: #210535;
  color: white;
  height: auto;
  min-height: 100vh;
}

#features {
  padding: 7% 15%;
}

#key-features {
  text-align: center;
  background-color: #210535;
}

#press {
  background-color: #210535;
  text-align: center;
  padding-bottom: 3%;
}

#cta {
  background-color: #210535;
}

#footer {
  background-color: white;
  text-align: center;
  padding-bottom: 1%;
}

.big-heading{
  font-weight: 900;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

.h2-features {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 2.75rem;
  color: white;
  line-height: 1.75;
  margin-left: 5%;
  margin-right: 5%;
}

.h2-prices {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.75rem;
  color: #210535;
  line-height: 1.75;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.h2-cta {
  font-family: "Montserrat";
  font-weight: bolder;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  line-height: 1.75;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.container-fluid {
  padding: 3% 15%
}

.navbar-brand {
  width: 20%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.25rem;
  font-family: "Montserrat";
}

.title-button {
  text-align: center;
}

.title-image {
  width: 40rem;
  height: auto;
  padding-top: 2.5rem;
  z-index: 1;
}

.features-logo {
  font-size: 7rem;
  padding: 10% 0;
}

.features-logo:hover {
  transform: scale(1.2);
  color: #210535;
}

.features-logo-div {
  position: relative;
}

.feature-header {
  width: 100%;
  text-align: center;
}

.feature-paragraph {
  text-align: center;
  color: #8f8f8f8f;
  font-weight: bolder;
  font-family: "Montserrat";
  padding: 3%;
}

.scroll-down-image {
  position: absolute;
  left: 48.5%;
  bottom: 30px;
  transform: translate(-50%, 0%);
  margin: 0 auto;
  height: 50px;
  width: 50px;
  max-width: 20%;
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1.05);
  }
}

.pulse-small {
  animation: pulse 4.2s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.97);
  }

  to {
    transform: scale(1.03);
  }
}

.feature-box {
  padding: 2%
}

.carousel-item {
  padding: 7% 15%;
}

.feature-image {
  margin: 30px;
  width: 10%;
  border-radius: 100%;
}

.key-feature-text {
  color: white;
}

.press-logo {
  width: 15%;
  margin: 75px 20px 75px;
}

.pricing-column {
  padding: 5% 5%;
}

.pricing-container {
  padding: 3% 10%
}



.paragraph-prices {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  color: #210535;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.cta-div {
  text-align: center;
  padding: 2% 0 5%
}



.cta-button {
  text-align: center;
  align-self: center;
}

.footer-text {
  color: white;
}

.btn-purple {
  background-color: #210535;
  color: white;
}

.padding-top {
  padding-top: 7rem;
}

.feature-icon{
  color: white;
  size: 100rem;
  padding-bottom: 2%;
}

.key-feature-paragraph{
  padding-top: 4%;
  font-size: 1.25rem;
  color: #D3D3D3;
  text-align: auto;
  line-height: 2;
}

.purple-background{
  background-color: #210535;
  color: : white;
}

.my-0{
  color: white;
}

.btn-primary.custom-btn {
	background-color: #210535;
	border-color: #210535;
}
